@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    flex-direction: column;
}
.title{
    color: #1a1c4d;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 1rem;
}
.slider-container{
    width: 80%;
}